.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  margin: 30px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather svg {
  display: inline;
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 64px;
  margin-top: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  display: inline;
  font-weight: bold;
  position: relative;
  top: -34px;
  margin-left: 60px;
}

.degrees {
  position: relative;
  bottom: 18px;
  text-decoration: none;
}

.degrees:hover {
  text-decoration: underline;
}
